<a href="https://colab.research.google.com/github/Dharani1999/Word-embedding-techniques/blob/master/Code_model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import gensim
from gensim import corpora, models, similarities
from gensim.models import Word2Vec

In [2]:
max_seq_length = 100

In [3]:
ratings1 = pd.read_csv('/content/drive/My Drive/Movielensdata/ml25m/ratings.csv')
#print(len(ratings1['movieId'].unique()))
ratings = ratings1.iloc[0:1000,:]
#print(len(ratings['movieId'].unique()))
ratings.head()

   userId  movieId  rating   timestamp
0       1      296     5.0  1147880044
1       1      306     3.5  1147868817
2       1      307     5.0  1147868828
3       1      665     5.0  1147878820
4       1      899     3.5  1147868510

**Sorting the dataframe**

In [4]:
ratings.sort_values(by=['userId','timestamp'],inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [5]:
ratings.head(10)

    userId  movieId  rating   timestamp
36       1     5952     4.0  1147868053
13       1     2012     2.5  1147868068
12       1     2011     2.5  1147868079
11       1     1653     4.0  1147868097
9        1     1250     4.0  1147868414
40       1     6539     3.5  1147868461
39       1     6377     4.0  1147868469
21       1     3448     4.0  1147868480
5        1     1088     4.0  1147868495
4        1      899     3.5  1147868510

In [6]:
users_total = len(ratings['userId'].unique())
print(users_total)

4

**Selecting the most recent movies rated by each user and padding if necessary**

In [7]:
movie_list = []
for i in range(users_total):
  list1 = []
  list1 = ratings.loc[ratings['userId'] ==(i+1),['movieId']]['movieId'].tolist()
  if len(list1)>max_seq_length:
    list1 = list1[(len(list1)-max_seq_length):]
  elif len(list1)<max_seq_length:
    for j in range((max_seq_length-len(list1))):
      list1.append(0)
  movie_list.append(list1)
#print(movie_list)

**Selecting the most recent ratings of each user and padding if necessary**

In [8]:
rating_list =[]
for i in range(users_total):
  list2 = []
  list2 = ratings.loc[ratings['userId'] ==(i+1),['rating']]['rating'].tolist()
  if len(list2)>max_seq_length:
    list2 = list2[(len(list2)-max_seq_length):]
  elif len(list2)<max_seq_length:
    for j in range((max_seq_length-len(list2))):
      list2.append(0)
  rating_list.append(list2)
#print(rating_list)

In [9]:
movies_transpose = pd.DataFrame(data=movie_list,index=[i+1 for i in range(users_total)])
movies_transpose.index.names = ['userId']
print(movies_transpose)

            0     1     2       3     4   ...     95      96     97    98    99
userId                                    ...
1         5952  2012  2011    1653  1250  ...      0       0      0     0     0
2         4306  8368  8360    3793  4995  ...   2987    1293   7090  1136  2150
3       176371  3968  8983  102407  6548  ...  88125  106489  81834  4262  1732
4         8665  8961  4993    1580  5444  ...      0       0      0     0     0

[4 rows x 100 columns]

In [10]:
ratings_transpose = pd.DataFrame(data=rating_list,index=[i+1 for i in range(users_total)])
ratings_transpose.index.names = ['userId']
print(ratings_transpose)

         0    1    2    3    4    5    6   ...   93   94   95   96   97   98   99
userId                                     ...
1       4.0  2.5  2.5  4.0  4.0  3.5  4.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0
2       4.5  5.0  4.0  5.0  5.0  4.0  5.0  ...  0.5  3.0  0.5  5.0  2.0  5.0  5.0
3       4.5  3.0  4.0  4.0  3.0  4.0  3.5  ...  2.5  4.0  3.5  3.5  3.5  4.5  4.5
4       3.5  5.0  4.5  4.5  4.0  4.0  4.0  ...  0.0  0.0  0.0  0.0  0.0  0.0  0.0

[4 rows x 100 columns]

In [11]:
# Select features from original dataset to form a new dataframe 
df1 = movies_transpose.iloc[:]# For each row, combine all the columns into one column
df2 = df1.apply(lambda x: ','.join(x.astype(str)), axis=1)# Store them in a pandas dataframe
df_clean = pd.DataFrame({'clean': df2})# Create the list of list format of the custom corpus for gensim modeling 
sent = [row.split(',') for row in df_clean['clean']]

In [12]:
#list of lists format of the ratings transpose matrix
print(sent)

[['5952', '2012', '2011', '1653', '1250', '6539', '6377', '3448', '1088', '899', '4308', '2161', '6711', '3949', '8360', '5878', '306', '1175', '307', '1237', '7327', '8154', '7234', '2843', '4144', '7365', '2068', '4422', '4973', '6016', '8873', '2692', '27721', '7323', '6954', '8014', '7939', '6370', '8973', '4703', '31956', '5147', '8786', '1260', '2351', '7940', '7209', '8685', '7820', '7937', '7938', '8405', '4325', '2632', '1217', '8729', '5912', '5767', '665', '2573', '27266', '8327', '32591', '5269', '3569', '27193', '5684', '7318', '296', '7361', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0'], ['4306', '8368', '8360', '3793', '4995', '4963', '8636', '2355', '8665', '2571', '589', '33493', '7153', '1873', '1246', '1584', '3994', '2139', '31923', '4720', '2294', '2745', '2138', '858', '33660', '2268', '2501', '6539', '1270', '6565', '4535', '1198', '1302', '349', '3098', '1907', '1580', '364', '480', '3360', '524', '5103', '62', '7075', '1287', '260', '318', '588', '1693', '1196', '4993', '2918', '3105', '5955', '1275', '1393', '6879', '5010', '6311', '8970', '1356', '3175', '4016', '1672', '1257', '2115', '36527', '1674', '1376', '7624', '2359', '8958', '35836', '2761', '953', '1923', '6947', '3148', '2083', '8010', '7162', '914', '4023', '33166', '3396', '1527', '2324', '1271', '30848', '30749', '534', '4103', '4874', '261', '1465', '2987', '1293', '7090', '1136', '2150'], ['176371', '3968', '8983', '102407', '6548', '4448', '103141', '139644', '187593', '135143', '90866', '86911', '27660', '171763', '8861', '143385', '112138', '5313', '4958', '136020', '6879', '59501', '122906', '111659', '88405', '158238', '179819', '99112', '166635', '135536', '97306', '65514', '135569', '187541', '136864', '57528', '1960', '96079', '94677', '97923', '46335', '159093', '86644', '112171', '59900', '67923', '71464', '71156', '5900', '62999', '68793', '130634', '81537', '53129', '89753', '68952', '140956', '97225', '102716', '104241', '70336', '111113', '129354', '45666', '82202', '54648', '102686', '39435', '96861', '61248', '31221', '158966', '85020', '83349', '79224', '64030', '105213', '56156', '107348', '176101', '103810', '49822', '91976', '73323', '149406', '122896', '103384', '168612', '91974', '55805', '111443', '109578', '87876', '94018', '79091', '88125', '106489', '81834', '4262', '1732'], ['8665', '8961', '4993', '1580', '5444', '7153', '6539', '33794', '6874', '1210', '1610', '7438', '780', '34405', '1214', '2028', '2985', '1291', '260', '5618', '1907', '38038', '2571', '44665', '8874', '1198', '1196', '296', '44191', '1527', '7143', '8641', '589', '1220', '5418', '4308', '8914', '4886', '6377', '4816', '34048', '5903', '7373', '6947', '5219', '3827', '5110', '6156', '45431', '7324', '44193', '4974', '6550', '7451', '1036', '3751', '6863', '5299', '3624', '4709', '924', '1265', '1201', '3681', '7569', '2993', '1732', '2019', '2918', '3175', '1278', '1080', '3114', '3671', '2791', '1288', '1270', '1', '541', '1200', '2716', '3039', '2115', '2951', '3033', '4963', '1197', '5952', '3793', '1136', '0', '0', '0', '0', '0', '0', '0', '0', '0', '0']]

In [13]:
model = Word2Vec(sent,min_count=1,size= 50,workers=3, window =3, sg = 1)

In [14]:
#user_vec = []
#for i in range(users_total):
#  a = np.zeros((50,))
#  for j in range(max_seq_length):
#    a = a+ model[sent[i][j]]
#  user_vec.append(a)

In [15]:
#user_vec

In [16]:
model.save('wordtovec')

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:253: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [17]:
corpus = gensim.matutils.Dense2Corpus(np.array(sent))
print(list(corpus))
total_topics = 10

[[(0, 5952.0), (1, 4306.0), (2, 176371.0), (3, 8665.0)], [(0, 2012.0), (1, 8368.0), (2, 3968.0), (3, 8961.0)], [(0, 2011.0), (1, 8360.0), (2, 8983.0), (3, 4993.0)], [(0, 1653.0), (1, 3793.0), (2, 102407.0), (3, 1580.0)], [(0, 1250.0), (1, 4995.0), (2, 6548.0), (3, 5444.0)], [(0, 6539.0), (1, 4963.0), (2, 4448.0), (3, 7153.0)], [(0, 6377.0), (1, 8636.0), (2, 103141.0), (3, 6539.0)], [(0, 3448.0), (1, 2355.0), (2, 139644.0), (3, 33794.0)], [(0, 1088.0), (1, 8665.0), (2, 187593.0), (3, 6874.0)], [(0, 899.0), (1, 2571.0), (2, 135143.0), (3, 1210.0)], [(0, 4308.0), (1, 589.0), (2, 90866.0), (3, 1610.0)], [(0, 2161.0), (1, 33493.0), (2, 86911.0), (3, 7438.0)], [(0, 6711.0), (1, 7153.0), (2, 27660.0), (3, 780.0)], [(0, 3949.0), (1, 1873.0), (2, 171763.0), (3, 34405.0)], [(0, 8360.0), (1, 1246.0), (2, 8861.0), (3, 1214.0)], [(0, 5878.0), (1, 1584.0), (2, 143385.0), (3, 2028.0)], [(0, 306.0), (1, 3994.0), (2, 112138.0), (3, 2985.0)], [(0, 1175.0), (1, 2139.0), (2, 5313.0), (3, 1291.0)], [(0, 307.0), (1, 31923.0), (2, 4958.0), (3, 260.0)], [(0, 1237.0), (1, 4720.0), (2, 136020.0), (3, 5618.0)], [(0, 7327.0), (1, 2294.0), (2, 6879.0), (3, 1907.0)], [(0, 8154.0), (1, 2745.0), (2, 59501.0), (3, 38038.0)], [(0, 7234.0), (1, 2138.0), (2, 122906.0), (3, 2571.0)], [(0, 2843.0), (1, 858.0), (2, 111659.0), (3, 44665.0)], [(0, 4144.0), (1, 33660.0), (2, 88405.0), (3, 8874.0)], [(0, 7365.0), (1, 2268.0), (2, 158238.0), (3, 1198.0)], [(0, 2068.0), (1, 2501.0), (2, 179819.0), (3, 1196.0)], [(0, 4422.0), (1, 6539.0), (2, 99112.0), (3, 296.0)], [(0, 4973.0), (1, 1270.0), (2, 166635.0), (3, 44191.0)], [(0, 6016.0), (1, 6565.0), (2, 135536.0), (3, 1527.0)], [(0, 8873.0), (1, 4535.0), (2, 97306.0), (3, 7143.0)], [(0, 2692.0), (1, 1198.0), (2, 65514.0), (3, 8641.0)], [(0, 27721.0), (1, 1302.0), (2, 135569.0), (3, 589.0)], [(0, 7323.0), (1, 349.0), (2, 187541.0), (3, 1220.0)], [(0, 6954.0), (1, 3098.0), (2, 136864.0), (3, 5418.0)], [(0, 8014.0), (1, 1907.0), (2, 57528.0), (3, 4308.0)], [(0, 7939.0), (1, 1580.0), (2, 1960.0), (3, 8914.0)], [(0, 6370.0), (1, 364.0), (2, 96079.0), (3, 4886.0)], [(0, 8973.0), (1, 480.0), (2, 94677.0), (3, 6377.0)], [(0, 4703.0), (1, 3360.0), (2, 97923.0), (3, 4816.0)], [(0, 31956.0), (1, 524.0), (2, 46335.0), (3, 34048.0)], [(0, 5147.0), (1, 5103.0), (2, 159093.0), (3, 5903.0)], [(0, 8786.0), (1, 62.0), (2, 86644.0), (3, 7373.0)], [(0, 1260.0), (1, 7075.0), (2, 112171.0), (3, 6947.0)], [(0, 2351.0), (1, 1287.0), (2, 59900.0), (3, 5219.0)], [(0, 7940.0), (1, 260.0), (2, 67923.0), (3, 3827.0)], [(0, 7209.0), (1, 318.0), (2, 71464.0), (3, 5110.0)], [(0, 8685.0), (1, 588.0), (2, 71156.0), (3, 6156.0)], [(0, 7820.0), (1, 1693.0), (2, 5900.0), (3, 45431.0)], [(0, 7937.0), (1, 1196.0), (2, 62999.0), (3, 7324.0)], [(0, 7938.0), (1, 4993.0), (2, 68793.0), (3, 44193.0)], [(0, 8405.0), (1, 2918.0), (2, 130634.0), (3, 4974.0)], [(0, 4325.0), (1, 3105.0), (2, 81537.0), (3, 6550.0)], [(0, 2632.0), (1, 5955.0), (2, 53129.0), (3, 7451.0)], [(0, 1217.0), (1, 1275.0), (2, 89753.0), (3, 1036.0)], [(0, 8729.0), (1, 1393.0), (2, 68952.0), (3, 3751.0)], [(0, 5912.0), (1, 6879.0), (2, 140956.0), (3, 6863.0)], [(0, 5767.0), (1, 5010.0), (2, 97225.0), (3, 5299.0)], [(0, 665.0), (1, 6311.0), (2, 102716.0), (3, 3624.0)], [(0, 2573.0), (1, 8970.0), (2, 104241.0), (3, 4709.0)], [(0, 27266.0), (1, 1356.0), (2, 70336.0), (3, 924.0)], [(0, 8327.0), (1, 3175.0), (2, 111113.0), (3, 1265.0)], [(0, 32591.0), (1, 4016.0), (2, 129354.0), (3, 1201.0)], [(0, 5269.0), (1, 1672.0), (2, 45666.0), (3, 3681.0)], [(0, 3569.0), (1, 1257.0), (2, 82202.0), (3, 7569.0)], [(0, 27193.0), (1, 2115.0), (2, 54648.0), (3, 2993.0)], [(0, 5684.0), (1, 36527.0), (2, 102686.0), (3, 1732.0)], [(0, 7318.0), (1, 1674.0), (2, 39435.0), (3, 2019.0)], [(0, 296.0), (1, 1376.0), (2, 96861.0), (3, 2918.0)], [(0, 7361.0), (1, 7624.0), (2, 61248.0), (3, 3175.0)], [(1, 2359.0), (2, 31221.0), (3, 1278.0)], [(1, 8958.0), (2, 158966.0), (3, 1080.0)], [(1, 35836.0), (2, 85020.0), (3, 3114.0)], [(1, 2761.0), (2, 83349.0), (3, 3671.0)], [(1, 953.0), (2, 79224.0), (3, 2791.0)], [(1, 1923.0), (2, 64030.0), (3, 1288.0)], [(1, 6947.0), (2, 105213.0), (3, 1270.0)], [(1, 3148.0), (2, 56156.0), (3, 1.0)], [(1, 2083.0), (2, 107348.0), (3, 541.0)], [(1, 8010.0), (2, 176101.0), (3, 1200.0)], [(1, 7162.0), (2, 103810.0), (3, 2716.0)], [(1, 914.0), (2, 49822.0), (3, 3039.0)], [(1, 4023.0), (2, 91976.0), (3, 2115.0)], [(1, 33166.0), (2, 73323.0), (3, 2951.0)], [(1, 3396.0), (2, 149406.0), (3, 3033.0)], [(1, 1527.0), (2, 122896.0), (3, 4963.0)], [(1, 2324.0), (2, 103384.0), (3, 1197.0)], [(1, 1271.0), (2, 168612.0), (3, 5952.0)], [(1, 30848.0), (2, 91974.0), (3, 3793.0)], [(1, 30749.0), (2, 55805.0), (3, 1136.0)], [(1, 534.0), (2, 111443.0)], [(1, 4103.0), (2, 109578.0)], [(1, 4874.0), (2, 87876.0)], [(1, 261.0), (2, 94018.0)], [(1, 1465.0), (2, 79091.0)], [(1, 2987.0), (2, 88125.0)], [(1, 1293.0), (2, 106489.0)], [(1, 7090.0), (2, 81834.0)], [(1, 1136.0), (2, 4262.0)], [(1, 2150.0), (2, 1732.0)]]

In [18]:
lsi = models.LsiModel(corpus, num_topics=total_topics)
index = similarities.MatrixSimilarity(lsi[corpus])
lsi_data = lsi[corpus]

/usr/local/lib/python3.6/dist-packages/gensim/matutils.py:737: FutureWarning: Conversion of the second argument of issubdtype from `int` to `np.signedinteger` is deprecated. In future, it will be treated as `np.int64 == np.dtype(int).type`.
  if np.issubdtype(vec.dtype, np.int):

In [19]:
#list(lsi_data)

In [20]:
lsi_topics = lsi.print_topics()
for topic in lsi_topics:
  print(topic)

(0, '0.996*"2" + 0.057*"3" + 0.047*"1" + 0.040*"0"')
(1, '0.965*"3" + 0.252*"0" + -0.063*"2" + -0.045*"1"')
(2, '0.995*"1" + -0.063*"0" + 0.060*"3" + -0.048*"2"')
(3, '-0.965*"0" + 0.251*"3" + -0.075*"1" + 0.028*"2"')

In [21]:
lsi.save('lsimodel')

/usr/local/lib/python3.6/dist-packages/smart_open/smart_open_lib.py:253: UserWarning: This function is deprecated, use smart_open.open instead. See the migration notes for details: https://github.com/RaRe-Technologies/smart_open/blob/master/README.rst#migrating-to-the-new-open-function
  'See the migration notes for details: %s' % _MIGRATION_NOTES_URL

In [22]:
tfidf = models.TfidfModel(corpus)
tfidf_data = tfidf[corpus]
print(list(tfidf_data))

[[(0, 0.9186551661069456), (3, 0.39506035714181714)], [(0, 0.6051297393815158), (3, 0.7961268733788974)], [(0, 0.8063703476896577), (3, 0.5914109082244431)], [(0, 0.962374247973125), (3, 0.2717274495485543)], [(0, 0.6137037357667979), (3, 0.7895363985946919)], [(0, 0.9515547532155332), (3, 0.30747935155539446)], [(0, 0.9570588367417666), (3, 0.28989374435212695)], [(0, 0.3264742182059674), (3, 0.945206107072316)], [(0, 0.4722897251747432), (3, 0.8814433705544366)], [(0, 0.9292482308246142), (3, 0.36945598588915124)], [(0, 0.9939614418421958), (3, 0.10972990536304723)], [(0, 0.7012159079509601), (3, 0.712948981650518)], [(0, 0.9994111406646993), (3, 0.03431285349959301)], [(0, 0.36218154888126436), (3, 0.9321075719303907)], [(0, 0.9990812305440113), (3, 0.042856677130453866)], [(0, 0.9948466448420678), (3, 0.10139109056756679)], [(0, 0.32785284841342377), (3, 0.9447288022428472)], [(0, 0.9511572929897252), (3, 0.3087066633431454)], [(0, 0.9701030218311882), (3, 0.2426934837073241)], [(0, 0.5976310515866797), (3, 0.8017712430484143)], [(0, 0.997057547601866), (3, 0.07665668118404786)], [(0, 0.5873305525835606), (3, 0.8093471579006685)], [(0, 0.994534175824555), (3, 0.10441155643401351)], [(0, 0.2106439196200487), (3, 0.9775628568675789)], [(0, 0.8451125676614806), (3, 0.5345883911764445)], [(0, 0.9988476152744924), (3, 0.04799418152713733)], [(0, 0.9857189450570231), (3, 0.16839881637253107)], [(0, 0.9998045664173308), (3, 0.019769394807458172)], [(0, 0.35600152080458913), (3, 0.9344853755863811)], [(0, 0.9972009118935643), (3, 0.07476858510526867)], [(0, 0.9728704634608034), (3, 0.23135051615581395)], [(0, 0.725655857758236), (3, 0.6880578290384891)], [(0, 0.9999803038860176), (3, 0.006276291901113192)], [(0, 0.9987912564006413), (3, 0.049153088790314756)], [(0, 0.9745234005337106), (3, 0.22428584844392901)], [(0, 0.9876259011960691), (3, 0.15682818396784556)], [(0, 0.949154579905622), (3, 0.31481039284652335)], [(0, 0.9752788959898508), (3, 0.22097754419129967)], [(0, 0.9786663667260327), (3, 0.20545593843757903)], [(0, 0.9571667572890256), (3, 0.28953721477698136)], [(0, 0.953871165978983), (3, 0.3002162532473807)], [(0, 0.9471229580271376), (3, 0.3208708499971987)], [(0, 0.9706225596135613), (3, 0.24060724587846238)], [(0, 0.5232409596550474), (3, 0.8521847793402936)], [(0, 0.8362386947445357), (3, 0.5483656129006953)], [(0, 0.9900157785751106), (3, 0.14095658257888377)], [(0, 0.9787738668012983), (3, 0.20494320595431928)], [(0, 0.9787754841194707), (3, 0.20493548176608165)], [(0, 0.5034662815517781), (3, 0.8640148744902634)], [(0, 0.964799380890138), (3, 0.2629869856742088)], [(0, 0.5195557395884435), (3, 0.8544365590614118)], [(0, 0.9850617545382311), (3, 0.17220145105678297)], [(0, 0.9128199521058843), (3, 0.4083622595654639)], [(0, 0.7671213428767001), (3, 0.6415020228362873)], [(0, 0.969807689835495), (3, 0.24387095918936333)], [(0, 0.9920395842156402), (3, 0.12592642037817148)], [(0, 0.9459295262941076), (3, 0.3243722110246269)], [(0, 0.9650822362810446), (3, 0.26194708857854815)], [(0, 0.5276728994575673), (3, 0.8494476506401344)], [(0, 0.8796763184834366), (3, 0.47557289104765776)], [(0, 0.9999498986972504), (3, 0.010009999768158728)], [(0, 0.9989946224841677), (3, 0.04483017117651197)], [(0, 0.9999407576027486), (3, 0.010884910878882074)], [(0, 0.9793629455387182), (3, 0.20210942804759466)], [(0, 0.8474396199175653), (3, 0.5308917880264985)], [(0, 0.9994718763495537), (3, 0.03249566719275891)], [(0, 0.9959733958585442), (3, 0.08964928745951997)], [(0, 0.9966954560955381), (3, 0.08122910684297373)], [(0, 0.32478427494588624), (3, 0.9457881236026783)], [(0, 0.9919805311768108), (3, 0.12639076614283298)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [(3, 1.0)], [], [], [], [], [], [], [], [], [], []]

In [23]:
#lsi_list = np.zeros((len(lsi_data), len(lsi_topics)), dtype=np.float64)
#for i in range(len(corpus)):
#    for j in range(len(lsi_topics)):
#        lsi_list[i][j]= list(lsi_data)[i][j][1]

tfidf_token= np.zeros((len(tfidf_data), 350), dtype=np.float64)
tfidf_vals= np.zeros((len(tfidf_data), 350), dtype=np.float64)

for i in range(len(corpus)):
    for k in range(len(list(tfidf_data)[i])):
        tfidf_token[i][k]=(list(tfidf_data))[i][k][0]
        tfidf_vals[i][k]=(list(tfidf_data))[i][k][1]

tfidf_list=list(tfidf_data)

In [24]:
tfidf_list[1]

[(0, 0.6051297393815158), (3, 0.7961268733788974)]